{% extends "base.html" %}
{% block content %}

  <h2>{{ restaurant.name }}</h2>
  <p><strong>Location:</strong> {{ restaurant.location }}</p>
  <p><strong>Hours:</strong> {{ restaurant.hours }}</p>
  <p><strong>Phone:</strong> {{ restaurant.phone_number }}</p>
  <p><strong>Website:</strong> 
    <a href="{{ restaurant.website }}" target="_blank">{{ restaurant.website }}</a>
  </p>
  <p><strong>Rating:</strong> {{ restaurant.rating }}</p>
  <p><strong>Price Range:</strong> {{ restaurant.price_range }}</p>

  <hr>
  <h3>Menu:</h3>
  <ul class="list-group">
    {% for item in menu.menu_items %}
      <li class="list-group-item">
        <a href="/food_item/{{ item[0] }}">{{ item[2] }}</a> <!-- food_item_id = item[0], name = item[2] -->
      </li>
    {% endfor %}
  </ul>

{%endblock content%}
